[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlmodel = "*"
uvicorn = "*"
pydantic-settings = "*"
psycopg2-binary = "*"
numpy = "*"
pandas = "*"
pdfplumber = "*"
pytest = "*"
tavern = "*"
tavern-fastapi = "*"
httpx = "*"
future = "*"
colorlog = "*"
bs4 = "*"

[dev-packages]
black = "*"
pylint = "*"
ipykernel = "*"

[requires]
python_version = "3.12.2"

[pipenv]
allow_prereleases = true
